[submodule "SGNavigationProgress"]
	path = SGNavigationProgress
	url = https://github.com/sgryschuk/SGNavigationProgress.git
[submodule "NJKWebViewProgress"]
	path = NJKWebViewProgress
	url = https://github.com/victorwon/NJKWebViewProgress.git
